html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
fieldset { border: none; }
	*{
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
        cursor: default;
	}
	.sprite {
		display: block;
		line-height: 0; 
		font-size: 0;
		color: transparent; 
		overflow: hidden;
	}




@import url(http://fonts.googleapis.com/css?family=Roboto);



.content .button{
	padding: 4px 12px;
	display: inline-block;
	line-height: 14px;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
	background: -webkit-linear-gradient(top, 
		rgba(255,255,255,1) 0%,
		rgba(244,244,244,1) 50%,
		rgba(236,236,236,1) 51%,
		rgba(243,243,243,1) 100%
	);
	box-shadow: 
		0px 0px 2px 0px rgba(0,0,0,.4), 
		0px 0px 1px 0px rgba(0,0,0,1), 
		inset 0 0 1px 0 #fff;
}
	.content .button.small{
		line-height: 9px;
		font-size: 9px;
	}
	.content .button.large{
		line-height: 18px;
		font-size: 18px;
	}
	.content .button:active{
		background: -webkit-linear-gradient(top, 
			rgba(199,221,247,1) 0%,
			rgba(159,200,245,1) 50%,
			rgba(136,191,246,1) 51%,
			rgba(185,227,249,1) 100%
		);
		box-shadow: 
			0px 0px 2px 0px rgba(0, 31, 255, 0.4), 
			0px 0px 1px 0px rgba(0,0,0,1), 
			inset 0 0 1px 0 #fff;
	}
.check{
	
}
	.check label{
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
	}
	.check input[type=checkbox]{
		display: none;
	}
	.check label:before { 
		content: ""; 
		display: inline-block; 
		width: 10px;
		height: 10px;
		margin-right: 10px;
		position: absolute;
		left: 4px;
		bottom: 4px;
		border-radius: 2px;
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 50%, rgba(236,236,236,1) 51%, rgba(243,243,243,1) 100% );
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,.4), 0px 0px 1px 0px rgba(0,0,0,.7), inset 0 0 1px 0 #fff;
	} 
	.check input[type=checkbox]:checked + label:before { 
		content: "\2713";
		background: -webkit-linear-gradient(top, rgba(199,221,247,1) 0%, rgba(159,200,245,1) 50%, rgba(136,191,246,1) 51%, rgba(185,227,249,1) 100% );
		box-shadow: 0px 0px 2px 0px rgba(0, 31, 255, 0.4), 0px 0px 1px 0px rgba(0,0,0,1), inset 0 0 1px 0 #fff;
		line-height: 8px;
	} 

body{
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
		
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
	ul#contextmenu{
		display: none;
		top: 0;
		left: 0;
		position: fixed;
		list-style: none;
		background-color: #fff;
		border: 1px solid #c3c3c3;
		z-index: 2000000000;
		box-shadow: 0 7px 16px rgba(0,0,0,.4);
		border-radius: 4px;
		padding: 4px 0;
	}
		ul#contextmenu li{
			padding: 0 20px;
			margin: 0 -1px;
			font-size: 14px;
			line-height: 15px;
			letter-spacing: .3px;
			height: 17px;
			border-top: 1px solid;;
			border-bottom: 1px solid;
			border-color: transparent;
			color: #333;
		}
			ul#contextmenu .spacer{
				height: 0;
				border-bottom: none;
				border-top-color: #DDD;
				padding: 0;
				margin: 5px 0;
				line-height: 0;
				font-size: 0;
			}
				ul#contextmenu .spacer:hover{
					border-top-color: #DDD;
					cursor: default;
				}
			ul#contextmenu li:hover{
				border-top-color: #888;
				border-bottom-color: #555;
				background: -webkit-linear-gradient(top, #AAA 0%, #777 100% );
				color: #fff;
				cursor: pointer;
			}
	ul#controls{
		width: 100%;
		position: fixed;
		font-size: 0;
		list-style: none;
		z-index: 2000000001;
		background: -webkit-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(230,230,230,.9) 100% );
		box-shadow: 0 6px 10px rgba(0,0,0,.35)
	}
		ul#controls li{
			height: 22px;
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
		}
			ul#controls > li > ul > li p{
				z-index: -1;
				position: relative;
				padding: 0 10px;
				text-align: center;
				line-height: 22px;
				font-size: 15px;
				color: #333;
			}
			ul#controls > li > ul > li:hover p,
			ul#controls > li > ul > li:active p{
				background: -webkit-linear-gradient(top, #AAA 0%, #777 100% );
				color: #fff;
			}
			ul#controls > li > ul > li .img{
				z-index: -1;
				position: relative;
				padding: 3px 10px;
			}
			ul#controls > li > ul > li:hover .img{
				background: -webkit-linear-gradient(top, #AAA 0%, #777 100% );
			}
				ul#controls > li > ul > li .img div{
					background-size: auto 100%;
					width: 9px;
					height: 16px;
				}
				ul#controls > li > ul > li:hover .img div,
				ul#controls > li > ul > li:active .img div{
					background-position: -100% 0;
				}
			ul#controls > li > ul > li.spacer{
				display: inline-block;
				vertical-align: top;
				padding: 0;
				font-size: 0;
				cursor: default;
				margin: 0 5px;
			}
				ul#controls > li > ul > li.spacer.doubleline{
					border-right: 1px solid rgba(0,0,0,.15);
					border-left: 1px solid rgba(0,0,0,.15);
					width: 1px;
				}
	ul#users{
		position: absolute;
		right: 0;
		top: 70px;
		list-style: none;
	}
		ul#users li{
			position: relative;
		}
			ul#users li div{
				margin: 0 25px 40px 0;
				width: 40px;
				height: 40px;
				border-radius: 100px;
				background-image: url(../images/userimages/avatar_default.jpg);
				background-size: 100% 100%;
				box-shadow: 0px 0px 0px 1px #000, 0px 0px 0px 4px #F00, 0px 1px 2px 4px #000;
			}
			ul#users li p{
				position: absolute;
				bottom: -20px;
				right: 0px;
				width: 90px;
				font-size: 11px;
				text-align: center;
				text-shadow: 
					-1px -1px 1px #000, 
					1px -1px 1px #000, 
					-1px 1px 1px #000, 
					1px 1px 1px #000;
				color: #fff;
			}
	/*ul#controls{
		position: fixed;
		left: 5px;
		top: 5px;
		font-size: 0;
		list-style: none;
		z-index: 2000000001;
		border-radius: 5px;
		border: 1px solid rgba(255,255,255,.25);
		background-color: rgba(50,50,50,.9);
	}
		ul#controls li{
			color: #FFF;
			height: 30px;
			text-align: center;
			line-height: 32px;
			font-size: 20px;
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			border: 1px solid rgba(255,255,255,.2);
			margin: 1px;
			border-radius: 3px;
			background: -webkit-linear-gradient(top, 
				rgba(255,255,255,0.25) 0%,
				rgba(255,255,255,0.2) 50%,
				rgba(255,255,255,0.1) 51%,
				rgba(255,255,255,0.2) 100%
			);
		}
			ul#controls li p{
				padding: 0 15px;
				z-index: -1;
				position: relative;
				opacity: .7;
			}
			ul#controls li img{
				height: 24px;
				padding: 3px 10px;
				z-index: -1;
				position: relative;
				opacity: .7;
			}
			ul#controls li:hover p,
			ul#controls li:hover img{
				background-color: #777;
				opacity: 1;
			}
			ul#controls li:active p,
			ul#controls li:active img{
				background-color: #111;
				opacity: .5;
			}
			ul#controls li.spacer{
				width: 3px;
				display: inline-block;
				vertical-align: top;
				padding: 0;
				background: none;
				border: none;
				font-size: 0;
				cursor: default;
				margin: 0;
			}*/
	.window{
		position: absolute;
		-webkit-transform-origin: 0 0;
		-webkit-transform: translate3d(0px, 0px, 0px);
		box-shadow: 
			0 10px 50px 8px rgba(0,0,0,0.2), 
			0 30px 50px 0px rgba(0,0,0,0.35),
			0 0 0 1px rgba(0,0,0,.15);
		border-radius: 4px;
		background: #fff;
		
		
		-webkit-transform: translate3d(300px, 190px, 0px);
	}
		.window .titlebar{
			width: 100%;
			background: -webkit-linear-gradient(top, 
				rgba(233,233,233,1) 0%,
				rgba(214,214,214,1) 40%,
				rgba(200,200,200,1) 100%
			);
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			box-shadow: inset 0px 1px 0px rgba(255,255,255,1), inset 0 -1px 0 #505050;
		}
			.window .titlebar .sysbuttons{
				list-style: none;
				display: inline-block;
				z-index: 1;
				position: relative;
				top: 0;
				left: 5px;
			}
				.window .titlebar .sysbuttons li{
					display: inline-block;
					width: 12px;
					height: 12px;
					font-size: 0;
					line-height: 10px;
					text-align: center;
					color: transparent;
					border-radius: 6px;
					box-shadow: 
						inset 0 0px 2px 0px rgba(0,0,0,0.75), 
						inset 0 0px 1px 0px rgba(0,0,0,.5), 
						inset 0 1px 0px 0px rgba(0,0,0,.5), 
						0 1px 1px 0 rgba(255,255,255,.75);
					margin: 5px 4px;
					vertical-align: top;
					cursor: pointer;
				}
				.window .titlebar .sysbuttons:hover li{
					font-size: 12px;
				}
				.window .titlebar .sysbuttons .close{
					color: #800;
					background: 
						-webkit-linear-gradient(left, 
							rgba(255,81,37,1) 0%,
							rgba(247,138,111,0) 50%,
							rgba(255,106,69,1) 100%
						),
						-webkit-linear-gradient(top, 
							rgba(232,102,85,1) 0%,
							rgba(255,226,226,1) 23%,
							rgba(232,102,85,1) 35%,
							rgba(234,63,44,1) 39%,
							rgba(232,102,85,1) 52%,
							rgba(255,178,178,1) 70%
						);
				}
				.window .titlebar .sysbuttons .minimize{
					color: #880;
					background: 
						-webkit-linear-gradient(left, 
							rgba(255, 207, 37, 1) 0%,
							rgba(247,217,111,0) 50%,
							rgba(255, 214, 69, 1) 100%
						), 
						-webkit-linear-gradient(top, 
							rgba(241,197,77,1) 0%, 
							rgba(255, 255, 255, 1) 23%, 
							rgba(255, 184, 0, 1) 35%, 
							rgba(255, 210, 32, 1) 39%, 
							rgba(255, 224, 0, 1) 52%, 
							rgba(255,250,226,1) 70% 
						);
					font-size: 13px;
					line-height: 2px;
				}
				.window .titlebar .sysbuttons .inactive{
					cursor: default;
					background: 
						-webkit-linear-gradient(left, 
							rgba(180, 180, 180, 1) 0%, 
							rgba(179,179,179,0) 50%, 
							rgba(180, 180, 180, 1) 100% ), 
						-webkit-linear-gradient(top, 
							rgba(206, 203, 203, 1) 0%, 
							rgba(255, 255, 255, 1) 23%, 
							rgba(206, 206, 206, 1) 39%, 
							rgba(211, 211, 211, 1) 52%, 
							rgba(240, 240, 240, 1) 70%  );
				}
			.window .titlebar .title{
				position: absolute;
				top: 0;
				right: 0;
				width: calc(100% - 60px);
				text-align: center;
				font-size: 13px;
				line-height: 24px;
				color: #393939;
			}
			.window .titlebar .tabs{
				padding: 0 0 0 5px;
				position: relative;
				top: -1px;
			}
				.window .titlebar .tabs li{
					color: #333;
					display: inline-block;
					padding: 0 6px;
					font-size: 13px;
					margin: 9px 0 0;
				}
					.window .titlebar .tabs li.active{
						background: 
							-webkit-linear-gradient(top, 
								rgba(0,0,0,0) 0%,
								rgba(0,0,0,0.15) 50%,
								rgba(0,0,0,0) 100%
							), 
							-webkit-linear-gradient(left, 
								rgba(0,0,0,0.4) 0%,
								rgba(0,0,0,0) 5%,
								rgba(0,0,0,0) 95%,
								rgba(0,0,0,0.4) 100%
							);
					}
		.window .content{
			width: 100%;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
			.window .content .pane{
				padding: 6px;
			}
		.window.inactive{
			box-shadow:
				0 5px 20px 0px rgba(0,0,0,0.4), 
				0 0 0 1px rgba(0,0,0,.15);
		}
			.window.inactive .titlebar{
				background: 
					-webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(240, 240, 240, 1) 40%, rgba(224, 223, 223, 1) 100% );
					box-shadow: inset 0px 1px 0px rgba(255,255,255,1), inset 0 -1px 0 #a3a3a3;
			}
			.window.inactive .titlebar .sysbuttons li{
				background:
					-webkit-linear-gradient(left, rgba(232, 232, 232, 1) 0%, rgba(179,179,179,0) 50%, rgba(232, 232, 232, 1) 100% ), 
					-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 23%, rgba(230, 228, 228, 1) 39%, rgba(230, 228, 228, 1) 52%, rgba(245, 245, 245, 1) 70% );
				box-shadow: 
					inset 0 0px 1px 0px rgba(0, 0, 0, 0.43), 
					inset 0 1px 0px 0px rgba(0, 0, 0, 0.22), 
					0 1px 1px 0 rgba(255,255,255,.75);
			}
			.window.inactive .titlebar .sysbuttons:hover .close{
				background: 
					-webkit-linear-gradient(left, 
						rgba(255,81,37,1) 0%,
						rgba(247,138,111,0) 50%,
						rgba(255,106,69,1) 100%
					),
					-webkit-linear-gradient(top, 
						rgba(232,102,85,1) 0%,
						rgba(255,226,226,1) 23%,
						rgba(232,102,85,1) 35%,
						rgba(234,63,44,1) 39%,
						rgba(232,102,85,1) 52%,
						rgba(255,178,178,1) 70%
					);
			}
			.window.inactive .titlebar .sysbuttons:hover .minimize{
				background: 
					-webkit-linear-gradient(left, 
						rgba(255, 207, 37, 1) 0%,
						rgba(247,217,111,0) 50%,
						rgba(255, 214, 69, 1) 100%
					), 
					-webkit-linear-gradient(top, 
						rgba(241,197,77,1) 0%, 
						rgba(255, 255, 255, 1) 23%, 
						rgba(255, 184, 0, 1) 35%, 
						rgba(255, 210, 32, 1) 39%, 
						rgba(255, 224, 0, 1) 52%, 
						rgba(255,250,226,1) 70% 
					);
			}
	#selectbox{
		background-color: rgba(200, 200, 200, 0.2);
		border-top: 1px solid rgba(180, 180, 180, .4);
		border-right: 1px solid rgba(180, 180, 180, .4);
		border-bottom: 1px solid rgba(220, 220, 220, .4);
		border-left: 1px solid rgba(220, 220, 220, .4);
		position: absolute;
		z-index: 1999999999;
	}
	#user_stashes{}
		#user_stashes .stash.footprint{
			position: absolute;
			z-index: 0;
			width: 700px;
			height: 600px;
			font-size: 40px;
			line-height: 50px;
			text-align: center;
			color: #000;
			box-shadow: inset 0 3px 10px #000;
		}
		#user_stashes .stash.top{
			position: absolute;
			z-index: 10000;
			width: 700px;
			height: 600px;
			font-size: 40px;
			line-height: 50px;
			text-align: center;
			color: #fff;
			box-shadow: 0 3px 10px #000;
			text-shadow: rgb(0, 0, 0) 0px 1px 5px;
		}
	#mainmenu{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		background: rgba(0,0,0,.50);
		z-index: 1000;
	}
		#mainmenu .dialog{
			width: 300px;
			left: 50%;
			top: 50%;
			position: absolute;
			margin: -100px 0 0 -150px;
			background: #bbb;
			text-align: center;
		}
			#mainmenu .button{
				margin: 10px;
				display: inline-block;
				padding: 10px 30px;
				background: #fff;
				font-weight: bold;
				cursor: pointer;
			}
				#mainmenu .button:hover{
					background: #ddd;
				}
	#game{
		position: absolute;
		z-index: -1;
	}
		#game #pieces{
		}
			#game #pieces .piece{
				background-size: 100% 100%;
				position: absolute;
				z-index: 100;
				-webkit-transform: translate3d(0,0,0);
				background-repeat: no-repeat;
				background-clip: content-box;
			}
				/*#game #pieces.zoom_1 .piece{
					-webkit-filter: drop-shadow(0px 6px 4px #000);
				}
				#game #pieces.zoom_0 .piece{
					-webkit-filter: drop-shadow(0px 2.25px 1.5px #000);
				}
				#game #pieces.zoom_-1 .piece{
					-webkit-filter: drop-shadow(0px 1.5px 1px #000);
				}*/
				#game #pieces .piece.selected{
					outline: 3px solid #3AF;
					/*background-color: rgba(30,150,255,.25);
					-webkit-filter: drop-shadow(0px 6px 4px #000);*/
				}
		#game #camera{
			position: absolute;
			top: 0;
			left: 0;
			/*
			width: 5px;
			height: 5px;
			background-color: #f00;
			outline: 1px solid #000;
			*/
		}
		#game #mouse{
			position: absolute;
			top: 0;
			left: 0;
			/*
			width: 5px;
			height: 5px;
			background-color: #00f;
			outline: 1px solid #000;
			*/
		}
					
					
					
					
					
					
					
					
					
					